{% render 'partials/head.liquid' %}

    <main>
        <img src="{{ person.avatar }}" alt="">
        <h1> {{ person.name }}</h1>
        <ul>
            <li><a href="{{ person.website }}" target="_blank">Portfolio</a></li>
            <li><a href="https://github.com/{{ person.github_handle }}" target="_blank">Github</a></li>
        </ul>
        <section>
            <ul>
                <li>Communicatie
                    <meter min="1" max="3" value="3"></meter>
                </li>
                <li>
                    Zelfstandigheid
                    <meter min="1" max="3" value="3"></meter>
                </li>
                <li>
                    Samenwerken
                    <meter min="1" max="3" value="2"></meter>
                </li>
            </ul>
        </section>
        <h2> {{ person.bio }} </h2>
    </main>

{% render 'partials/foot.liquid' %}
